
<div style="border-style: solid;padding : 5px; text-align:center;">
<div style="color:green">
    <h1>Hurry...<br/>Login successful!</h1>
</div>
    <h1>You are logged in as <b> <%= @username%> </b></h1>
    <%= button_to "Logout", '/logout', method: :get%>

</div>